<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiketuandui.antinetfraud">

    <!-- 权限设定 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ArticleContentActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.ToTagsListActivity" />
        <activity android:name=".Activity.NetWorkErrorActivity" />

        <service
            android:name=".Service.NetworkStateService"
            android:enabled="true" />
    </application>

</manifest>